.chatInterface {
  background-image: url('../../assets/4kLogoOnly.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  min-width: 60vw;
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgba(103, 104, 105, 0.8);
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  max-height: 80vh;
  overflow: auto;
}

.userMessage, .aiMessage {
  display: inline-block; /* Make the width of the boxes only as wide as the content */
  flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
  max-width: 80%;
  border-radius: 10px;
}

.userMessage {
  background-color: #548BFE;
  color: #fff;
  text-align: right; /* Align the text to the right */
}

.aiMessage {
  background-color: #ccc;
  text-align: left; /* Align the text to the left */
}

.timestamp {
  font-size: 0.8em;
  color: #1b1b1b;
}

.chatBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; /* Change this to 100% */
  background-color: #000; /* Change the background color to black */
}

.home {
  background-color: #000; /* Change the background color to black */
}
