.miniChatInterface {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .inputForm {
    display: flex;
  }
  
  .inputField {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .sendButton {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #548BFE;
    color: #fff;
    cursor: pointer;
  }
  
  .sendButton:hover {
    background-color: #48C2C2;
  }
  