.chatInterface {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  min-width: 60vw;
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgba(103, 104, 105, 0.8);
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  max-height: 80vh;
  overflow: auto;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.userMessage, .aiMessage {
  display: inline-block; /* Make the width of the boxes only as wide as the content */
  flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
  max-width: 80%;
  border-radius: 10px;
}

.userMessage {
  background-color: #548BFE;
  color: #fff;
  text-align: right; /* Align the text to the right */
}

.aiMessage {
  background-color: #ccc;
  text-align: left; /* Align the text to the left */
}

.inputForm {
  display: flex;
}

.inputField {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sendButton {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #548BFE;
  color: #fff;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #48C2C2;
}

.timestamp {
  font-size: 0.8em;
  color: #1b1b1b;
}
