.footer {
  padding: 20px;
  background-color: #343a40;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Change this line */
  bottom: 0;
  width: 100%; /* Add this line to ensure the footer spans the full width of the page */
}


.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLinks img {
  height: 24px;
  width: 24px;
}
