.footer {
    background-color: #000000;
    color: #48C2C5;
    /* Add gradient effect to the text */
    background: linear-gradient(to right, #48C2C5, #548BFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}