.footer {
  padding: 20px;
  background-color: #343a40;
  color: #fff;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLinks img {
  height: 24px;
  width: 24px;
}
