.heroSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('C:\Users\daren\source\repos\dashbyte\public\4kLogoOnly.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.chatInterface {
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
