.heroSection {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0; /* Adjust this value to your liking */
  background-image: url('./assets/4kLogoOnly.png');
  background-size: cover;
  background-position: center;
}

