.navbar {
  background: linear-gradient(90deg, #48C2C5 0%, #548BFE 100%);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  height: 60px;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #61dafb;
}
