.navbar {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    color: #343a40;
    font-size: 1.5em;
  }
  
  .navLinks {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  