.navbar {
  background-color: #343a40;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 60px;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #48C2C5;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLinks img {
  height: 24px;
  width: 24px;
}

 